<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <%= yield %>
      <nav>
        <% if Helper.logged_in(session) %>
          <a href="/logout"> Logout </a>
        <% else %>
          <a href="/signup"> Signup </a> | <a href="/login"> Log In </a>
        <%end%>
      </nav>
    </div>

  </body>
</html>
